<h1>Liánhuánhuà</h1>
<h2>连环画</h2>
<!--<%#= link_to 'View Books', controller: 'books' %><br>-->
<!--<%#= link_to 'Add Book', new_book_path %><br>-->
<%= link_to 'View Series', controller: 'series' %><br>
<%= link_to 'Add Series', new_series_path %>