<h1>Listing books</h1>

<table>
  <tr>
    <th>No. in Series</th>
    <th>Year Published</th>
    <th></th>
  </tr>

  <% @books.each do |book| %>
    <tr>
      <td><%= book.series_number %></td>
      <td><%= book.year_published %></td>
    </tr>
  <% end %>
</table>