// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#container-main {
  max-width: 100vw;
  text-align: center;
}

#div-image-wrapper {
  position: relative;
  display: inline-block;
}

#img-prev, #img-next {
  background-color: black;
  position: absolute;
  opacity: 0.0;
  width: 50%;
  height: 100%;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#img-prev {
  left: 0;
}

#img-next {
  right: 0;
}

#img-page {
  max-height: 80vh;
}

#img-next, #img-prev {
  color: red;
  font-size: 5rem;
  opacity: 100%
}