// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#container-main {
  max-width: 100vw;
  text-align: center;
}

#div-image-wrapper {
  position: relative;
  display: inline-block;
  display: inline-block;
}

#img-prev {
  background-color: blue;
  position: absolute;
  opacity: 0.5;
  width: 50%;
  height: 100%;
  top: 0;
  left: 0;
}

#img-next {
  background-color: red;
  position: absolute;
  opacity: 0.5;
  width: 50%;
  height: 100%;
  top: 0;
  right: 0;
}

#img-page {
  max-height: 80vh;
}