<h1>Listing Series</h1>

<p>
  <%= link_to 'Add Series', new_series_path %>
</p>
<div class="border rounded p-1">
  <div class="card-deck">
    <% @series_all.each do |series| %>
      <div class="card">
        <%= link_to series_path(series) do %>
          <% if series.books.count > 0 %>
            <% if series.books.first.pages.first.picture.attached? %>
              <%= image_tag series.books.first.pages.first.picture, class: "card-img-top"%>
            <% end %>
          <% end %>

          <div class="card-body d-flex flex-column">
            <h5 class="card-title text-center mt-auto"><%= series.title %></h5>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>

</div>



<!-- TODO: Admin only for these -->
  <%#= link_to 'Edit', edit_series_path(series) %>
  <%#= link_to 'Destroy', series_path(series), method: :delete, data: { confirm: 'Are you sure?' } %>
