<h1>Browse Series</h1>

<p><%= link_to 'Add Series', new_series_path %></p>

<div class="container">
  <div class="row">
    <% @series_all.each do |series| %>
      <div class="col-md-6 col-lg-4 col-xl-3 mb-3">
        <div class="card">
          <%= link_to series_path(series) do %>

            <% if series.books.count > 0 %>
              <% if series.books.first.pages.first.picture.attached? %>
                <%= image_tag series.books.first.pages.first.picture, class: "card-img-top img-fluid"%>
              <% end %>
            <% end %>

            <div class="card-body mt-2 p-0">
              <h5 class="card-title text-center"><%= series.title %></h5>
            </div>

          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<!-- TODO: Admin only for these -->
<%#= link_to 'Edit', edit_series_path(series) %>
<%#= link_to 'Destroy', series_path(series), method: :delete, data: { confirm: 'Are you sure?' } %>
