<h1>Listing Series</h1>

<p>
  <%= link_to 'Add Series', new_series_path %>
</p>

<% @series_all.each do |series| %>
  <% if series.books.first.pages.first.picture.attached? %>
    <%= link_to series_path(series) do %>
      <%= image_tag series.books.first.pages.first.thumbnail %>
    <% end %>
  <% end %>

  <%= series.title %>

<!-- TODO: Admin only for these -->
  <%#= link_to 'Edit', edit_series_path(series) %>
  <%#= link_to 'Destroy', series_path(series), method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
