<h1>Listing Series</h1>

<table>
  <tr>
    <th>Series Title</th>
  </tr>

  <% @series.each do |series| %>
    <tr>
      <td><%= series.title %></td>
      <td><%= link_to 'Show', series_path(series) %></td>
      <td><%= link_to 'Edit', edit_series_path(series) %></td>
      <td><%= link_to 'Destroy', series_path(series), method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>