<nav class="navbar navbar-light">
  <%= link_to "Liánhuánhuà", root_path, id: "logo", class: "navbar-brand" %>

  <%= link_to "Log In",   new_user_session_path %>
  <%= link_to "Sign Up",   new_user_registration_path %>
  <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
</nav>